.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    padding-left: 15px;
    padding-right: 15px;

    visibility: visible;
    opacity: 1;

    transition: opacity var(--modal-window-transition-rule),
        visibility var(--modal-window-transition-rule);
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-background-color);

    &.hidden__backdrop {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}