.index-hero {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 118px 60px;
    text-align: center;
    background-color: var(--hero-image-overlay-color);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-hero__title {
    margin: 0 auto 30px auto;

    @include font (900, 26px, 1.62, 00.06em, var(--body-background-color));
    text-transform: uppercase;
}

.index-hero__button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-blue-color);

    transition: background-color var(--main-transition-rule);

    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    @include font (700, 16px, 1.88, 00.06em, var(--body-background-color));

    &:focus {
         background-color: var(--accent-blue-color);
    }
}

@media screen and (min-device-pixel-ratio:1) and (max-width: 767px),
screen and (min-resolution: 96dpi) and (max-width: 767px),
screen and (min-resolution: 1dppx) and (max-width: 767px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/mobile-images/hero-mobile.jpg');
    }
}

@media screen and (min-device-pixel-ratio:1) and (max-width: 767px),
screen and (min-resolution: 96dpi) and (max-width: 767px),
screen and (min-resolution: 1dppx) and (max-width: 767px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/mobile-images/hero-mobile.webp');
    }
}

@media screen and (min-device-pixel-ratio:2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/mobile-images/hero-mobile@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio:2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/mobile-images/hero-mobile@2x.webp');
    }
}

@media screen and (min-width:480px) {
    .index-hero__title{
        width: 360px;
    }
}

@media screen and (min-width: 768px) {
    .index-hero{
        width: 100%;
    }
}

@media screen and (min-device-pixel-ratio:1) and (min-width: 768px),
screen and (min-resolution: 96dpi) and (min-width: 768px),
screen and (min-resolution: 1dppx) and (min-width: 768px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/tablet-images/hero-tablet.jpg');
    }
}

@media screen and (min-device-pixel-ratio:1) and (min-width: 768px),
screen and (min-resolution: 96dpi) and (min-width: 768px),
screen and (min-resolution: 1dppx) and (min-width: 768px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/tablet-images/hero-tablet.webp');
    }
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/tablet-images/hero-tablet@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/tablet-images/hero-tablet@2x.webp');
    }
}

@media screen and (min-width: 1200px) {
    .index-hero {
        max-width: 1600px;
        max-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .index-hero__title {
        width: 696px;
        @include font (900, 44px, 1.36, 00.06em, var(--body-background-color));
    }

    .index-hero__button {
        width: 216px;
        height: 50px;
    }
}

@media screen and (min-device-pixel-ratio:1) and (min-width: 1200px),
screen and (min-resolution: 96dpi) and (min-width: 1200px),
screen and (min-resolution: 1dppx) and (min-width: 1200px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/desktop-images/hero-desktop.jpg');
    }
}

@media screen and (min-device-pixel-ratio:1) and (min-width: 1200px),
screen and (min-resolution: 96dpi) and (min-width: 1200px),
screen and (min-resolution: 1dppx) and (min-width: 1200px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/desktop-images/hero-desktop.webp');
    }
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/desktop-images/hero-desktop@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .index-hero {
        background-image: linear-gradient(to right,
                var(--hero-image-overlay-color),
                var(--hero-image-overlay-color)),
            url('../images/desktop-images/hero-desktop@2x.webp');
    }
}