.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    margin-bottom: 12px;
    @include font (700, 20px, 1.15, 00.03em, var(--body-text-color));
    text-align: center;
}

.modal-form__field {
    margin-bottom: 10px;
}

.modal-form__field-descr {
    display: block;
    margin-bottom: 4px;
    @include font (400, 12px, 1.16, 00.01em, var(--list-text-color));
}

.modal-form__input {
    width: 100%;
    height: 40px;

    padding: 11px 11px 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--main-transition-rule);

    @include font (400, 12px, 1.16, 00.01em, var(--body-text-color));

    &:focus {
            outline: none;
            border-color: var(--accent-blue-color);
        }
}

.input-wrapper {
    position: relative;
}

.input-wrapper__icon {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--main-transition-rule);

    .modal-form__input:focus + & {
        fill: var(--accent-blue-color);
    }
}

.modal-form__message-field {
    margin-bottom: 20px;
}

.modal-form__message {
    display: block;
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--main-transition-rule);

    resize: none;
    @include font (400, 12px, 1.16, 00.01em, var(--body-text-color));

    &:focus {
        outline: none;
        border-color: var(--accent-blue-color);
    }
    
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--modal-form-placeholder-color);
    }
}

.modal-form__check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @include font (400, 14px, 1.71, 00.03em, var(--list-text-color));
}

.modal-form__check {
    position: absolute;
    appearance: none;
    box-shadow: none;
    transition: box-shadow var(--main-transition-rule);
}

.modal-form__check-icon-unchecked {
    width: 16px;
    height: 15px;
    margin-right: 8px;
}

.modal-form__check-icon-checked {
    display: none;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    fill: var(--accent-blue-color);
}

.modal-form__check:checked+.modal-form__check-icon-unchecked {
    display: none;
}

.modal-form__check:checked~.modal-form__check-icon-checked {
    display: inline;
}

.modal-form__check-link {
    position: relative;
    color: var(--accent-blue-color);
    outline: none;

    &::after {
        display: block;
        position: absolute;
        top: 75%;
        width: 100%;
        height: 1px;
        content: "";
        background-color: var(--accent-blue-color);
    }
}

.modal-form__button {
    align-self: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;

    background-color: var(--accent-blue-color);
    box-shadow: 0px 4px 4px var(--form-submit-button-shadow-color);
    border: none;
    border-radius: 4px;

    @include font (700, 16px, 1.88, 00.06em, var(--body-background-color));
    cursor: pointer;
}