.page-header {
    background-color: var(--body-background-color);
    border-bottom: 1px solid;
    border-color: var(--header-border-color);

    /* outline: 2px dashed blue; */
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* outline: 2px solid blue; */
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;
    /* outline: 2px solid blue; */
}

.menu__item {
    position: relative;
}

.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--main-transition-rule);

    @include font (500, 14px, 1.14, 00.02em, var(--body-text-color));

   .menu__item &:hover,
   .menu__item &:focus{
    color: var(--accent-blue-color);
}
.menu__item_current &{
    color: var(--accent-blue-color);
}
}           

.menu__item_current::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        content: "";
        background-color: var(--accent-blue-color);
    
        border-radius: 2px;
        }

.contact-list {
    display: flex;
    column-gap: 50px;

    /* outline: 2px solid blue; */
}

.contact-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--main-transition-rule);

    @include font (500, 14px, 1.14, 00.02em, var(--list-text-color));

    .contact-list__item &:hover,
    .contact-list__item &:focus {
            color: var(--accent-blue-color);
        }
}

.contact-list__icon {
    fill: currentColor;
}
