:root {
    --body-text-color: rgba(33, 33, 33, 100%);
    --logo-text-color: rgba(0, 0, 0, 100%);
    --accent-blue-color: rgba(33, 150, 243, 100%);
    --list-text-color: rgba(117, 117, 117, 100%);
    --modal-form-placeholder-color: rgba(117, 117, 117, 50%);
    --body-background-color: rgba(255, 255, 255, 100%);
    --grey-background-color: rgba(245, 244, 250, 100%);
    --footer-background-color: rgba(47, 48, 58, 100%);
    --address-text-color: rgba(255, 255, 255, 60%);
    --header-border-color: rgba(236, 236, 236, 100%);
    --portfolio-item-border-color: rgba(238, 238, 238, 100%);
    --hero-image-overlay-color: rgba(47, 48, 58, 40%);
    --hero-image-background-color: rgba(196, 196, 196, 100%);
    --socialmedia-icon-color: rgba(175, 177, 184, 100%);
    --footer-smlist-icon-color: rgba(255, 255, 255, 10%);
    --item-overlay-backgroundcolor: rgba(47, 48, 58, 80%);
    --portfolio-overlay-color: rgba(33, 150, 243, 90%);
    --backdrop-background-color: rgba(0, 0, 0, 20%);
    --form-submit-button-shadow-color: rgba(0, 0, 0, 15%);
    --footer-input-border-color: rgba(255, 255, 255, 30%);
    --modal-window-transition-rule: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    --main-transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}